@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body {}

/* header */
header {
    height: 50px;
    background-color: #f16e43;
}

header>.container>.row {
    padding-top: 10px;
}

header>.container>.row>.col-lg-6>.row>.col-lg-6>h3 {
    margin-top: -5px;

}

header>.container>.row>.col-lg-6>.row>.col-lg-6 .row a {
    color: white;
    text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    /*    font-family: 'Nunito', sans-serif;*/
    font-size: 18.5px;
}

header>.container>.row>.col-lg-6>.row>.col-lg-6 .row a:hover {
    color: orange;
}

header>.container>.row>.col-lg-6>.row>.col-lg-6 #api h5 {
    text-align: center;
    margin-left: -10px;
}

header>.container>.row>.col-lg-6>.row>.col-lg-6 .row .col-lg-6 .row .col-lg-7 {
    /*Sign-Up*/
    margin-right: 0.5rem;
    margin-left: -0.5rem;

}

header>.container>.row>.col-lg-6>.row>.col-lg-6 #logo a {
    text-decoration: none;
    color: white;
}


header>.container>.row>.col-lg-6>.row>.col-lg-6>.row>.col-lg-6>.row>.col-lg-6>h6>a {
    color: black;
}

/*advertisement-main*/
.advertisement-main .container .row .col-lg-6 .subadvertisement .row .col-lg-8 ul li {
    list-style: none;
    font-size: 14px;
}

.advertisement-main .container .row .col-lg-6 .subadvertisement .row .col-lg-8 ul li h4 {
    font-weight: bold;

}

.advertisement-main {
    margin-left: -3rem;
    margin-top: 46px;
    font-family: 'Nutito', sans-serif;


}

/*advertisement-main*/


/*fotter*/
.footer {
    margin-top: 50px;
    background-color: #f16e43;
}

.footer .container .row {
    margin-top: 20px;
}

.footer .container .row .col-lg-6 .row .col-lg-4 ul li {
    list-style: none;
}

.footer .container .row .col-lg-6 .row .col-lg-5 ul li {
    list-style: none;
}

.footer>.container>h2 {
    text-align: center;
}

/*fotter*/

/*VietAnhNguyen*/
header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: auto;
    height: 56px;
}

.col-lg-5>h3 {
    color: #ff8000;
}

header>.container>.row>.col-lg-6>.row>.col-lg-6>.row>.col-lg-6>.row>.col-lg-6>h6>a {
    color: #ff8000;
}

#convert-file {
    color: #ff8000;
}

/*fotter*/
.footer {
    background: #333;
    font-family: 0.5rem 'Nunito', sans-serif;
    text-align: center;
    font-weight: normal;
    color: rgb(244, 247, 246);
    border-top: .1rem solid rgba(255, 255, 255, .2);
    position: bottom;
    bottom: 0;
}

.footer>.container>h2 {
    padding-bottom: 1rem;
}

.choose {
    margin-top: 2rem;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.25rem;
}

/*body-all*/

.body-all {}

.body-all .body-main-button {
    display: flex;
    margin-top: 60px;
    justify-content: center;


}

.body-all .body-main-button .text-left .select-text {
    color: #fff;
    background-color: #b53836;
    border-color: #b53836;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 8px 18.75px 8px 40px;

}

.body-all .body-main-button .text-left .select-text a {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18.75px;

}

.body-all .body-main-button .select-text:hover {
    background: brown;
}

.body-all .body-main-button .icon-right .select-icon {
    color: #fff;
    background-color: #b53836;
    border-color: #b53836;
    font-family: 10px 'Nunito', sans-serif;

    padding: 10px 12px 6px 15px;

}

.body-all .body-main-button .icon-right>ul {
    display: none;
    background: white;
    margin-left: -210px;
    margin-top: 2px;
    position: absolute;
    z-index: 1;
    font-size: 18.75px;

}

.body-all .body-main-button .icon-right {}

.body-all .body-main-button .icon-right ul a {
    display: block;
    width: 100%;
    padding: 0.25rem 1.4rem;
    margin-left: 0.15rem;
    clear: both;
    font-weight: 400;
    color: #141414;
    background-color: #f0f0f5;
    border-top-right-radius: 0.12rem;
    border-top-left-radius: 0.12rem;
    border-bottom-right-radius: 0.12rem;
    border-bottom-left-radius: 0.12rem;
}

.body-all .body-main-button .icon-right ul a:hover {
    background-color: #909497;
}

.body-all .body-main-button .icon-right ul a li i {
    padding: 10px;

}

.body-all .body-main-button .icon-right ul a {
    text-decoration: none;
}

.body-all .body-main-button .icon-right ul li {
    list-style: none;
    color: black;
    font-size: 90%;

}

.body-all .body-main-button .icon-right h2 {
    font-size: 15px;
    padding: 12px 15px 8px 5px;
    vertical-align: middle;

}

.body-all .body-main-button .icon-right .select-icon {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.body-all .body-main-button .icon-right ul li:hover {
    list-style: none;

}

.body-all .body-main-button .icon-right .select-icon:hover {
    background: brown;
    cursor: pointer;
}

/*body-all*/

/* main-options-FE */
.main-options-title {
    padding-top: 20px;
}

.main-options-title .container {
    border: 1px solid #CCCCCC;
    border-bottom: none;
}

.main-options-title .container .row {
    padding-top: 18px;
    padding-bottom: 10px;
}

.main-options-title>.container>.row>.col-lg-11>h5 {
    margin-left: -32px;
    font-weight: bold;
}

/* main-options-FE */
/*main-second-options-title*/
/*.main-second-options-title{
    margin-top: 1px;
}*/
.main-second-options-title .container {
    border: 1px solid #CCCCCC;
    border-bottom: none;
    background: #DDDDDD;
}

.main-second-options-title .container .row {
    padding-top: 10px;
    padding-bottom: 6px;
}

.main-second-options-title .container>.row>.col-lg-11>h5 {
    margin-left: -32px;
    font-weight: bold;
}

/*main-second-options-title*/

/*option-main-content*/
.option-main-content .container {
    border: 1px solid #CCCCCC;
    padding-top: 30px;
}

.option-main-content .container .row .col-lg-6 .row .col-lg-8 {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;

}

.option-main-content .container .row .col-lg-6 .row .col-lg-8 .row i {
    margin-left: -15px;
}

/*option-main-content*/
/*trim*/
.trim .container {
    padding-top: 20px;
    border: 1px solid #CCCCCC;
    border-top: none;
}

/*trim*/
.banner-footer {
    margin-top: 30px;
}

.banner-footer>.container>.row {
    border: 1px solid #CCCCCC;
}

/*banner_mp4*/
.banner_mp4 {
    margin-top: 30px;
}

.banner_mp4 .container {
    border: 1px solid black;
}

.banner_mp4 .container .row {
    margin-top: 10px;
}

.banner_mp4 .container .row .col-lg-11 h5 {
    margin-left: -30px;
    font-weight: bold;
}

.banner_mp4 .container p {
    margin-bottom: 25px;
}

/*banner_mp4*/

.text-truncate span {
    margin-left: 10px;
}


/* Hien Thi Ten File*/
.d-flex {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    background-color: #F4F6F7;
    border: 1px solid #ECF0F1;
    border-color: #ECF0F1;
    padding: 4px 20px 4px 20px;

}
.text-truncate{
    white-space: nowrap; 
    width: 420px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.text-convert-to{
   /* margin-left: 150%;*/
    margin-left: 20px;
 
}
/* Hien Thi Ten File*/

/* Nut Convert*/
.btn-convert-web {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 83.5%;
    color: #fff;
    background-color: #b53836;
    border-color: #b53836;
    border-radius: 6px 6px 6px 6px;
    padding: 10px 30px 10px 30px;

}

.btn-convert-web:hover {
    background: brown;
    cursor: pointer;
}



/* Nut Convert*/

.menu-dropdown{
    background-color: #141414;
}

.delete-icon-1 {
    color: #b53836;
}
/* Nut Convert*/

/* DropDown Chon Dinh Dang File*/
.dropdown-menu1{

    background-color: #333;
    transition: none!important;
    border: none!important;
    padding: 10px;
    border-radius: 0.25rem!important;
    color: #fff;
width: 350px;
    margin-left: 35%;
}

.overflow-auto.formats ul li{
    list-style: none;
margin-left: 5px;
margin-top: 3px;
}
.overflow-auto.formats ol li{
    list-style: none;
    margin-left: 5px;
    margin-top: 3px;

}
.wrapper1{
    background-color: #333;
}
.btn.btn-secondary{
    
    list-style-position: outside;
    list-style: none;

}

.box {

    display: flex;

  }
.groups {
    list-style: none;
    padding: 0;
    margin-right: 5px;
    background-color: #333;
}
/* DropDown Chon Dinh Dang File*/
